.font--small {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-small);
}

.navbar-text {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-medium);
}

.heading-lg {
  font-size: var(--font-size-xxx-large);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-xxx-large);
}

/* text */
.text--grey {
  color: var(--west_chester-grey);
}

.text--white {
  color: var(--white);
}

.text--black {
  color: var(--black);
}

/* Card */

.card__title {
  color: var(--west_chester-grey);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  /* transform */
  text-transform: uppercase;
}

.card__text {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
}

.card__footer {
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-small);
}

/* font */

/* .h6-b3-text {
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-small);
    }  */

/************** Responsive **************/
/* Breakpoint */
/*
** Vertical screen for small smartphone : 20rem < 30rem // [320px < 480px]
** Horizontal screen for small smartphones : 30rem < 40rem // [480px < 640px]
** Horizontal screen for medium smartphones : 40rem < 48rem //[640px < 768px ]
** Screen horizontally for tablets (eg iPad) : 48rem < 64 rem // [768px < 1024px ]
** Large screens and Desktops                 :  64rem < 75 rem [1024px < 1200px]
** Extra large                                  : > 75rem
*/

/* ------------------------------------*\
  @media queries -font.css
\*------------------------------------*/
/* Desktop */
@media screen and (min-width: 768px) {
}


/* Tablet */
@media screen and (max-width: 768px) {
  /* < 768px */
  .heading-lg {
    font-size: var(--font-size-xx-large);
    line-height: var(--line-height-xx-large);
  }
  .font--medium {
    font-size: var(--font-size-base);
    line-height: var(--line-height-small);
  }
}
/* mobile */
@media screen and (max-width: 480px) {
  /* < 480px */
  .heading-lg {
    font-size: var(--font-size-x-large);
    line-height: var(--line-height-x-large);
  }
}