.font--small {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-small);
}

.font--medium {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-medium);
}

.font--large {
  font-size: var(--font-size-xxx-large);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-xxx-large);
}

/* text */
.text--grey {
  color: var(--west_chester-grey);
}

.text--white {
  color: var(--white);
}

.text--black {
  color: var(--black);
}

/* Card */

.card__title {
  color: var(--west_chester-grey);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  /* transform */
  text-transform: uppercase;
}

.card__text {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
}

.card__footer {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-x-small);
  line-height: var(--line-height-x-small);
}

/* font */

/* .h6-b3-text {
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-small);
    }  */

/************** Responsive **************/
/* Breakpoint */
/*
** Vertical screen for small smartphone : 20em < 30em // [320px < 480px]
** Horizontal screen for small smartphones : 30em < 40em // [480px < 640px]
** Horizontal screen for medium smartphones : 40em < 48em //[640px < 768px ]
** Screen horizontally for tablets (eg iPad) : 48em < 64 em // [768px < 1024px ]
** Large screens and Desktops                 :  64em < 75 em [1024px < 1200px]
** Extra large                                  : > 75em
*/

/* ------------------------------------*\
  @media queries -font.css
\*------------------------------------*/
/* header */
@media screen and (max-width: 48em) {
  /* < 768px */
  .font--large {
    font-size: var(--font-size-x-large);
    line-height: var(--line-height-x-large);
  }
}
