@import url(../styles/reset.css);
@import url(../styles/variable.css);
@import url(../styles/font.css);

/*------------------------------------*\
  #Global
\*------------------------------------*/
html,
body {
  font-family: var(--font-family);
  font-style: normal;
}
html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  /* change : width: 8 */
  margin: auto;
  padding: 0 1.5rem;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* button */
.btn {
  display: inline;
  background-color: var(--white);
  border: 1px solid var(--gainsboro);
  border-radius: 4px;

  padding: 6px 12px;
  cursor: pointer;

  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
  line-height: var(--line-height-small);
}
.btn:first-child:active {
  background-color: unset;
  border-color: unset;
  color: var(--black);
}

.btn-primary {
  color: var(--black);
}

.btn-primary:hover {
  border-color: var(--crab-nebula);
  background-color: transparent;
  color: var(--black);
  opacity: 0.8;
}

.btn-primary:active {
  background-color: var(--crab-nebula);
  transform: translateY(2px);
  color: var(--white);
}

.btn-secondary:hover {
  opacity: 0.8;
}

.btn-secondary:active {
  background-color: var(--white);
  transform: translateY(2px);
  color: var(--black);
}

/* card */
.card {
  cursor: pointer;
  border: none;
  border-radius: unset;
}
.card-header,
.card-body,
.card-footer {
  background: unset;
  border: unset;
  padding: unset;
  position: relative;

}

.card:hover .card-header {
  color: var(--black);
}

.card:active .card-body .card-text {
  color: var(--alienated);
}

.card-body:hover .card-text {
  color: var(--crab-nebula);
}

/* card-img */
.card-img .card-header::after {
  content: "";
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;

  position: absolute;
  background-color: var(--west_chester-grey);
}

.card-img,
.card-header,
.card-body{
  margin-bottom: 1rem;
}
.card-img .card-header {
  padding-bottom: 0.875rem;
}

.card-img-top  {
  max-inline-size: 100%;
  block-size: auto;
  inline-size: 100%;

  margin-bottom: 1rem;

  border-radius: unset;
  /* padding: -1.875rem; background padding */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* menu__list */

.nav-menu .item {
  color: var(--black);
}
.nav-menu .item:hover {
  color: var(--crab-nebula);
}

.nav-menu .item:active {
  color: var(--alienated);
}

/*------------------------------------*\
  #Header-SECTION
\*------------------------------------*/
.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--lighthouse);
}

.header .container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 4.5rem;
}

/* header-navbar */
  /*@Hover::before */
.header-navbar .nav-menu .item::before {
  content: "";
  width: 0px;
  height: 3px;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: var(--alienated);
  transition: all 0.5s;
}
.nav-menu .item:hover::before {
  width: 100%;
}

/* navbar */
.navbar-expand-lg .navbar-collapse {
  justify-content: space-between;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: unset;
  padding-right: unset;
}

.header-navbar .nav-pills .nav-link.active {
  background-color: none;
}

.header-navbar .nav-menu .navbar-nav {
  margin-bottom: 1rem;
}
.header-navbar .navbar-toggler{
  border: none;
}
.nav-link {
  padding: unset;
  color: unset;
}
.nav-link:hover {
  color: unset;
}

/* .nav-menu .nav-item {
  margin-right: 2.5rem;
} */

.nav-menu .item {
  position: relative;
}
.nav-button {
  display: inline;
}
.nav-button .btn-secondary {
  background-color: var(--crab-nebula);
  color: var(--white);
  display: inline;
}
.navbar .item {
  font-family: var(--font-family);
  text-align: center;

  padding: 1.25rem 0;
}

/* header-carousel */
.header-carousel {
  margin-top: 3.125rem;
  margin-bottom: 2rem;
  width: 100%;
}

.header-carousel .heading-lg {
  letter-spacing: -0.888889px;
}

/* header__tab */
.header-tab {
  /* err: padding-top > border-box */
  width: 100%;
}

.nav-mark {
  color: var(--black);
}
.nav-pills .nav-link.active {
  color: var(--west_chester-grey);
  background-color: transparent;
}
.nav-menu .nav-pills .nav-link {
  padding-bottom: 1.875rem;
  position: relative;
}
.header-tab .nav-pills ::before {
  content: "";
  width: 0px;
  height: 3px;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: var(--alienated);
  transition: all 0.5s;
}

.nav-menu {
  display: block;
}

.nav-menu .nav-pills .nav-link {
  padding: unset;
}

.header-tab .nav-tabs {
  width: 100%;
  margin: auto;
  text-align: center;
  align-items: center;
}
.header-tab .nav-tabs .nav-mark {
  width: 100%;
  padding: 0.875rem;
  background-color: var(--white);
  border: 0.0625rem solid var(--gainsboro);
  /* 0.0625 = 1px */
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shape {
  display: inline;
}

.nav-tabs .item {
  display: none;
  margin-right: 0;
}

.nav-menu .nav-pills .nav-link.active {
  color: var(--black);
}
.nav-tabs {
  border-bottom: unset;
}
.nav-tabs .item {
  color: var(--lucky-grey);
}

.nav-tabs .item:hover {
  color: var(--black);
}
/*------------------------------------*\
  #service-SECTION
\*------------------------------------*/
.service {
  background: var(--white);
}

.service .container {
  margin-bottom: 5rem;
}

.service-left,
.service-right {
  width: 100%;
}

/* service-left */
.service-left {
  border-bottom: 1px solid var(--west_chester-grey);
  border-top: 1px solid var(--west_chester-grey);

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
}

.service-left .card-body {
  width: 90%;
}

.service-left .card:hover {
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 1px 0 3.125rem rgb(0 0 0 / 10%);
}

.service-left .card-text {
  margin-bottom: 2rem;
  margin-top: 0.875rem;
  letter-spacing: -0.555556px;
}

/* service-right */
.service-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* ? */
}

/*------------------------------------*\
  #Product-SECTION
\*------------------------------------*/
.product .container {
  margin-bottom: 5rem;
}

.product-content {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  display: grid;
  row-gap:  2.875rem;
  grid-template-columns: repeat(1, 1fr);
}


.product .card-title {
  padding-bottom: 0.875rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--west_chester-grey);
}



/*------------------------------------*\
  #marketing-SECTION
\*------------------------------------*/
.marketing .container {
  margin-bottom: 5rem;
}
.marketing-content {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  row-gap: 2.875rem;
  /* display: flex;
  justify-content: space-between; */
  /* align-items: center; */
}
.marketing .card {
  width: 100%;
}
.marketing-content .card.card-horizontal {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: space-between;

  padding-top: 1rem;
  border-top: 1px solid var(--west_chester-grey) ;
}
.card .card-horizontal-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/*------------------------------------*\
  #article-SECTION
\*------------------------------------*/
.Blog_Article .container {
  padding-top: 7.5rem;
}

.article__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article__content .card__body {
  width: 30%;
}

.article__content .article__pic {
  width: 100%;
  height: 241px;
}

/*------------------------------------*\
  #CTA-SECTION
\*------------------------------------*/
.cta-content {
  background-color: var(--crab-nebula);
  background-repeat: no-repeat;
  width: 100%;
  padding: 4.5rem 0;
  padding-bottom: 0;
}
.cta-content .card-text .heading-lg {
  margin-bottom: 1rem;
}

.cta-content .card-body {
  margin: 0 2rem;
}


.cta-content .card-text{
  letter-spacing: -0, 89px;
  /* margin-bottom: 24px; */
  margin-bottom: 3rem;
}


.cta-content .card-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cta .card-footer {
  background-image: url(../img/BG.png);
  background-position: -62.5rem;
  background-repeat: no-repeat;
  /* background-position-x: right; */
  background-position-y: -1rem;
  height: 358px;
  /* width: 100%; */
}


/* Cta__card-footer */
/* button */
.cta-content .card-footer .btn {
  margin-bottom: 1.5rem;
}


.cta-content .card-footer .btn:active {
  background: var(--white);
  transform: translateY(5px);
  color: var(--black);
}

.btn--chevron {
  border-radius: none;
  width: 198px;
  height: 64px;
  background: var(--white);
  filter: drop-shadow(0px 1.5rem 2rem rgba(0, 0, 0, 0.1));
}

.btn--chevron:hover {
  background-color: var(--crab-nebula);
  color: var(--white);
  border: none;
}

/* span */
.cta-content .card-footer .text-white:hover {
  text-decoration: underline var(--crab-nebula);
}

/*------------------------------------*\
  #footer-SECTION
\*------------------------------------*/
.footer {
  background: var(--white);
  position: relative;
}

/* footer__content */
.footer-content {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: stretch; */
  margin-top: 4.5rem;
  margin-bottom: 3rem;

  display: grid;
  row-gap: 2rem;
}

.footer-content .font--small {
  color: var(--bauhaus);
  line-height: var(--line-height-medium);
}

.footer-content .menu-list{
  display: flex;
}
.footer-content .media {
  margin-bottom: 1rem;
}
.footer-content .card-body {
  flex: unset;
}
.media.menu-list .item{
  margin-right: 1rem;
}
.footer .card .media{
 flex-direction: row;
}

/* footer */
.footer .menu-list {
  display: flex;
  flex-direction: column;
}
.footer .menu-list>.item{
  padding-bottom: 1.25rem;
  font-weight: var(--font-weight-bold);
}
.footer .list-item {
  padding-bottom: 15px;
}

/* <hr> line */
.line {
  margin: 0 2rem;
  height: 1px;
  background: var(--lucky-grey);
  mix-blend-mode: normal;
  opacity: 0.24;
  align-items: center;
}

.footer-about .menu-list>.item {
  color: var(--bauhaus);
  letter-spacing: 0.2px;
  padding: 0;
  margin-bottom: 1.875rem;
}

.footer-about {
  padding-top: 2rem;
}

.footer-about .item,
.footer-locale{
  margin-bottom: 2rem;
}

.footer-locale {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  margin-top: 1.875rem;
}

.btn--flex {
  border: none;
  width: 85px;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-medium);
}

/************** Responsive **************/
/* Breakpoint */
/*
** Vertical screen for small smartphone : 20rem < 30rem // [320px < 480px]
** Horizontal screen for small smartphones : 30rem < 40rem // [480px < 640px]
** Horizontal screen for medium smartphones : 40rem < 48rem //[640px < 768px ]
** Screen horizontally for tablets (eg iPad) : 48rem < 64 rem // [768px < 1024px ]
** Large screens and Desktops                 :  64rem < 75 rem [1024px < 1200px]
** Extra large                                  : > 75rem
*/

/* ------------------------------------*\
  @media queries
\*------------------------------------*/
@media screen and (min-width: 400px) {
  .cta .card-footer {
    background-position: -56.25rem;
    background-position-y: -1rem;
  }
}
@media screen and (min-width:550px) {
  .cta .card-footer {
    background-size: 125rem;
    background-position: -82rem;
    background-position-y: -2rem;
  }
}
@media screen and (min-width:700px) {
  .cta .card-footer {
    background-size: 155rem;
    background-position: -100rem;
    background-position-y: -4rem;
  }
}
@media screen and (min-width :900px) {
  .cta .card-footer {
    background-size: 185rem;
    background-position: -120rem;
    background-position-y: -6rem;
  }
}
/* container */
/*Small tablet(480 x 640)*/
@media screen and (min-width: 480px) {
  .service-img {
    height: 45vh;
  }

  /******************/
  /* products */
  .product-content {
    grid-template-columns: repeat(2,1fr);
    gap: 1.875rem;
    row-gap: 7.5rem;
  }
    .card-header,
    .card-body {
      margin-bottom: 1.5rem;
    }

  /******************/
  /* footer */
  .footer-content {
    grid-template-columns: repeat(2,1fr);
  }
  .footer-content .card{
    grid-column: 1/3;
  }
  .footer-about .nav-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: start;
    align-items: end;
    padding-bottom: 0;
  }
  .footer-locale {
    grid-area: 1/2;
  }

}

/*Vertical iPad(768 x 1024)*/
@media screen and (min-width: 768px) {
  
  .service-left .card-text {
    font-size: var(--font-size-large);
    line-height: var(--line-height-xx-large);
    letter-spacing: -0.555556px;
  }

  /***********************/
  /* CTA */
  .cta-content {
    padding-top: 5rem;
  }

  .cta .cta-content {
    padding-left: 0;
    padding-right: 0;
  }
}


@media screen and (min-width: 990px) {

  /* header */
  .header .container {
    padding-bottom: 0;
  }

  /* -navbar */
  .header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    margin-right: 3.75rem;
  }

  .header-navbar .nav-menu .navbar-nav {
    margin-bottom: 0rem;
  }

  .nav-menu .nav-item {
    margin-right: 2.5rem;
  }

  .header-navbar .btn-secondary {
    margin-left: 1rem;
    width: max-content;
  }

  /* __carousel */
  .header-carousel {
    margin-bottom: 6.25rem;
    margin-top: 4.375rem;
  }

  /* __tab */
  .header-tab .nav-tabs .nav-mark {
    width: unset;
    padding: unset;
    background-color: unset;
    border: unset;
    border-radius: unset;
    display: none;
  }

  .header .shape {
    display: none;
  }

  .header-tab .nav-tabs .nav-item {
    display: flex;
    padding-bottom: 1.875rem;
  }

  .header-tab .nav-menu {
    display: flex;
  }

  /***********************/
  /* service */
  .service .container {
    display: flex;
    gap: 1.875rem;
  }

  .service-img {
    height: 100%;
  }

  .service-left,
  .service-right {
    width: 50%;
    margin: 0;
  }
  /******************/
  /* products */
  .product-content {
    grid-template-columns: repeat(3,1fr);
  }
  /***********************/
  /* marketing */
  .marketing-content {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3, 1fr) ;
    column-gap: 1.875rem;
    row-gap: 0;
    align-items: start;
  }
  .marketing-content .card.card-horizontal{
    flex-direction: row;
    align-items: flex-end;
  }
  .marketing-content .card.card-img {
  .card-horizontal {
    margin-top: 2rem;
  }
  .card-horizontal .card-header {
    margin-bottom: 0;
    width: 20%;
    text-align: end;
  }

  .marketing-content .card.card-img{
    grid-row: 1/4;
  }

  /******************/
  /* footer */
  .footer-content {
    grid-template-columns: repeat(6,1fr);
  }
  .footer-content .card{
    grid-column: 1/3;
  }
    .footer-about .menu-list {
      flex-direction: row;
    }

    .footer-about .nav-menu {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: unset;
      justify-items: start;
      align-items: end;
      padding-bottom: 0;
    }
    .footer-locale {
      grid-area: 1/3;
    }
    .footer-about .nav-menu .item {
      margin-right: 1.25rem;
      text-align: center;
  }

  .footer-about .menu-list {
    flex-direction: row;
    margin-bottom: 2rem;
    align-items: center;
  }
  .footer-about .list-item {
    padding-bottom: 0;
  }

  .footer-locale {
    grid-area: 1/3;
    justify-content: flex-end;

  }
  /* cta*/
  .cta-content {
    flex-direction: row;
    background-image: url(../img/BG.png);
    background-position: center;
    padding: 7.5rem 0;
    height: 468px;
  }
  .cta-content .card-footer {
    background-image: none;
    width: 60%;
  }

  /******************/
  /* footer */
  .footer-content {
    grid-template-columns: repeat(6,1fr);
  }
  .footer-content .card{
    grid-column: 1/3;
  }
    .footer-about .menu-list {
      flex-direction: row;
    }

    .footer-about .nav-menu {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: unset;
      justify-items: start;
      align-items: end;
      padding-bottom: 0;
    }
    .footer-locale {
      grid-area: 1/3;
    }
    .footer-about .nav-menu .item {
      /* margin-bottom: ; */
  }
  .footer-about .menu-list {
    margin-bottom: 2rem;
  }
  .footer-about .list-item {
    padding-bottom: 0;
  }

  .footer-locale {
    grid-area: 1/3;
  }
  .footer-locale {
    justify-content: flex-end;
  }
}

/*Tablet(1024 x 768)*/
@media screen and (min-width: 1024px) {
  .container {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .header .container {
    padding-top: 2rem;
    margin-bottom: 7.5rem;
  }

  .service .container {
    margin-bottom: 7.5rem;
  }

  .product .container {
    margin-bottom: 7.5rem;
  }

  .marketing .container {
    margin-bottom: 7.5rem;
  }

  /************************/
  /* cta */
  .cta .container {
    margin-bottom: 7.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .cta .cta-content {
    align-items: center;
  }
  .cta .card-body {
    margin:0;
  }
}

@media screen and (min-width: 1240px) {
  .container {
    padding-left: 9.375rem;
    padding-right: 9.375rem;
  }

  .service-left .card-text {
    width: 90%;
  }

  .cta .container {
    margin-bottom: 7.5rem;
    padding-left: 9.375rem;
    padding-right: 9.375rem;
  }
}