@import url("https://fonts.cdnfonts.com/css/satoshi");

:root {
  /* --------------font-------------------- */
  --font-family: "Satoshi", sans-serif;

  /* -------------color-------------------- */
  /* https://colornamer.robertcooper.me/  */
  --white: #ffffff;
  --black: #000000;
  --lighthouse: #f4f4f4;
  --gainsboro: #dcdcdc;
  --west_chester-grey: #787878;
  --lucky-grey: #777777;
  --bauhaus: #404040;
  --crab-nebula: #004050;
  --alienated: #00cc61;

  /* -------------font-weight-------------- */

  --font-weight-small: 400; /*b1*/
  --font-weight-medium: 500; /*b2*/
  --font-weight-bold: 700; /*b3*/

  /* -------------font-size---------------- */
  --font-size-base : 1rem;
  --font-size-small: 0.875rem; /*h6*/
  --font-size-medium: 1.125rem; /*h4*/
  --font-size-large: 1.5rem; /*h3*/
  --font-size-x-large: 2.25rem;
  --font-size-xx-large: 2.5rem; /*h2*/
  --font-size-xxx-large: 4rem; /*h1*/

  /* -------------line-height-------------- */
  --line-height-small: 1.1875rem;
  --line-height-medium: 1.5rem;
  --line-height-large: 2.125rem;
  --line-height-x-large: 2.875rem;
  --line-height-xx-large: 3.125rem;
  --line-height-xxx-large: 4.625rem;
}
