/*------------------------------------*\
  .accordion
\*------------------------------------*/

/* Custom style accordion */
.question .accordion-button:not(.collapsed) {
  color: unset;
  background-color: unset;
  box-shadow: none;
}

.accordion-flush .accordion-item:first-child,
.accordion-flush .accordion-item {
  border: unset;
  border-top: 1px solid var(--bs-accordion-border-color);
}

.accordion-button,
.accordion-body {
  padding-left: 0;
  padding-right: 0;
  justify-content: space-between;
  align-items: flex-start;
}

.accordion-button:after,
.accordion-button:not(.collapsed)::after {
  background-image: url(../../imgx/plus-lg.svg);
  margin-left: 1rem;
}
