/*------------------------------------*\
  .Buttons
\*------------------------------------*/
.btn {
  font-weight: var(--font-weight-bold);
}

.btn-primary {
  background: var(--bs-white);
  border: 1px solid var(--bs-white);
  border-radius: 4px;
  color: var(--black);
}

.btn-primary:hover {
  color: var(--bs-black);
  background-color: transparent;
  border: 1px solid var(--crab-nebula);
}

.btn-secondary {
  background: var(--crab-nebula);
  border-radius: 4px;
}


/* CTA */

.cta-button .btn-primary:hover {
  background: var(--bs-white);
}

.cta-button .btn-primary:active {
  transform: translateY(5px);
  background-color: var(--crab-nebula);
  border: none;
}

.cta-button .text-white:hover {
  text-decoration: underline var(--crab-nebula);
}
