/*------------------------------------*\
  .Buttons
\*------------------------------------*/
.btn {
  font-weight: var(--font-weight-bold);
}

.btn-primary {
  background: var(--bs-white);
  border: 0.0625rem solid var(--bs-white);
  border-radius: 0.25rem;
  color: var(--black);
}

.btn-primary:hover {
  color: var(--bs-black);
  background-color: transparent;
  border: 0.0625rem solid var(--secondary);
}

.btn-secondary {
  background: var(--secondary);
  border-radius: 0.25rem;
}


/* CTA */

.cta-button .btn-primary:hover {
  background: var(--bs-white);
}

.cta-button .btn-primary:active {
  transform: translateY(0.3125rem);
  background-color: var(--secondary);
  border: none;
}

.cta-button .text-white:hover {
  text-decoration: underline var(--secondary);
}
