.navbar-toggler {
  border: none;
}
.btn {
  font-weight: var(--font-weight-bold);
}

.btn.btn-primary {
  background: #ffffff;
  border: 1px solid var(--bs-white);
  border-radius: 4px;
  color: var(--black);
}

.btn.btn-secondary {
  background: var(--crab-nebula);
  border-radius: 4px;
}

/* bg */
.header,
.plan {
  background-color: var(--lighthouse);
}
.question {
  background-color: var(--bs-white);
}
/* container */
.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
