.card {
  border-radius: 12px;
  border: none;
  padding: 0 1.5rem;
}

.card .btn {
  border-radius: 8px;
}

.card .btn:hover {
  background-color: var(--alienated);
  color: var(--bs-white);
  border: none;
}

.card-header,
.card-body,
.card-footer {
  padding: 0;
}
.card-header {
  background-color: var(--white);
  border-bottom: none;
}

.card-footer {
  background: none;
  border-top: none;
  padding-top: 0;
}
