.card {
  cursor: pointer;
  border: none;
  border-radius: unset;
}

.card-header,
.card-body,
.card-footer {
  padding: 0;
  background: none;
  border: none;
}

.card-body:hover .card-text {
  color: var(--primary);
}

.card:hover .card-header {
  color: var(--secondary);
}


/* card .button */
.card .btn {
  border: 0.0625rem solid var(--gray-300);
  border-radius: 0.5rem;

  padding: 1rem 0;
}

.card .btn:hover {
  background-color: var(--primary);
  color: var(--bs-white);
  border: none;
}

/* card-img */
.card-img .card-header {
  padding-bottom: 0.875rem;
}
/* hr */
.card-img .card-header::after {
  content: "";
  height: 0.0625rem;
  width: 100%;
  bottom: 0;
  left: 0;

  position: absolute;
  background-color: var(--gray-500);
}

.card-img-top {
  max-inline-size: 100%;
  block-size: auto;
  inline-size: 100%;

  margin-bottom: 1rem;

  border-radius: unset;
  /* padding: -1.875rem; background padding */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
