.header {
  background: var(--lighthouse);
}
.nav-item .nav-link:hover {
  color: var(--alienated);
}
.header .btn.btn-primary:hover {
  background: var(--bs-white);
  border: 1px solid var(--crab-nebula);
}
.header .btn.btn-primary:active {
  color: var(--alienated);
}

/* tablet */
@media screen and (min-width: 992px) {
  .navbar-nav {
    align-items: center;
  }
  .nav-item {
    margin-right: 2.5rem;
  }
  .header .btn {
    width: max-content;
  }
}
