/*------------------------------------*\
  #main
\*------------------------------------*/
.main-introduce,
.package {
    background-color: var(--lighthouse);
}
/* container */
.main .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }


/* -----Responsive------ */
/* tablet */
@media screen and (min-width: 992px) {
    /* package*/
    .package-help .btn{
        width: max-content;
    }
}
