/*------------------------------------*\
  #main
\*------------------------------------*/
.main-introduce,
.package {
    background-color: var(--light);
}
/* container */
.main .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }




/* -----Responsive------ */
/* tablet */
@media screen and (min-width: 992px) {
    /*introduce  */
    .main-introduce .display-1 {
      width: 55%;
    }
    /* package*/
    .package-help .btn{
        width: max-content;
    }
    /* question */
    .question .display-1 {
        width: 60%;
    }
    .question-article .accordion {
        width: 80%;
        align-items: end;
    }
}
