    .font--nav {
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-small);
        line-height: var(--line-height-small);
    }
    .font--tab {
        font-weight: var(--font-size-medium);
        font-size: var(--font-size-medium);
        line-height: var(--line-height-medium);
    }
    .font--x-larger {
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-xx-large);
        line-height: var(--line-height-xxx-large);
    }
    .font-title {
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-small);
        line-height: var(--line-height-small);
    }
    