@import url(../styles/reset.css);
@import url(../styles/variable.css);
@import url(../styles/font.css);
@import url(../styles/algin.css);

/* Global */
html,
body {
    font-family: var(--font-family);
    font-style: normal;
}

a {
    text-decoration: none;
}


.container {
    width: 80%;
    margin: auto;
}

.btn {
    display: inline-block;
    background-color: var(--white);
    border: 1px solid var(--gainsboro);
    border-radius: 4px;

}





/* header */
.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--lighthouse);
}


.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 29px 0;
}

.header__content .navbar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .menu__list {
    display: flex;
    width: 70%;
}

.header__content .nav__option {
    display: flex;
}
.nav__option .button--crab-nebula {
    background-color: var(--crab-nebula);
    color: white;
    margin-left: 16px;
}
.header__carousel {
    padding-top: 70px;
}


.header__tab {
    padding-top: 100px;
    width: 100%;
    height: 54px;
}

.header__tab .tab__list {
    display: flex;
    width: 40%;
    justify-content: space-between;
}


.tab__list .list--mark {
    border-bottom: 3px solid var(--alienated);
    padding-bottom: 27px;
}
.tab__list .list--mark .list__item{
    color: black;
}

.tab__list .list__item {
    color: var(--lucky-grey);
}

/* Service */
.service {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--white);
}
.service .container {
    display: flex;
}
.service__left {
    width: 47%;
   
    border-bottom: 1px solid var(--westchester-grey);
    border-top: 1px solid var(--westchester-grey);
}

.service__left .service__left-title {
    padding-top: 14px;
    padding-bottom: 118px;
}

.service__right {
    width: 50%;
    height: 370px;
    display: inline-block;
    background: url(../img/service__img.png);
    background-repeat: no-repeat;
}