@import url(../styles/reset.css);
@import url(../styles/variable.css);
@import url(../styles/font.css);

/* Global */
html,
body {
    font-family: var(--font-family);
    font-style: normal;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
}

.btn {
    display: inline-block;
    background-color: var(--white);
    border: 1px solid var(--gainsboro);
    border-radius: 4px;

    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;


    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-medium);
    line-height: var(--line-height-small);

}
.card--img .card__pic{
    width: 100%;
    /* padding: -30px; background padding */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card--img__body .card__title {
    padding-bottom: 14px;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--westchester-grey);
}
.card--img__body .card__text {
    padding-bottom: 24px;
}


/* header */
.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--lighthouse);
}


.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 29px 0;
}

.header__content .navbar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .menu__list {
    display: flex;
    width: 70%;
}

.menu__list .item {
    font-family: var(--font-family);
    color: var(--black);
    margin-left: 40px;
}


.header__content .nav__option {
    display: flex;
}

.nav__option .button:nth-child(2) {
    background-color: var(--crab-nebula);
    color: white;
    margin-left: 16px;
}


.header__carousel {
    padding-top: 70px;

}

.header__carousel .carousel__content--above {
    letter-spacing: -0.888889px;
    color: var(--black);
}

.header__carousel .carousel__content--below {
    color: var(--westchester-grey);
}

.header__tab {
    padding-top: 100px;
    width: 100%;
    height: 54px;
}

.header__tab .tab__list {
    display: flex;
    width: 40%;
    justify-content: space-between;
}


.tab__list .list--mark {
    border-bottom: 3px solid var(--alienated);
    padding-bottom: 27px;
}

.tab__list .list--mark .list__item {
    color: black;
}

.tab__list .list__item {
    color: var(--lucky-grey);
}




/* service */
.service {

    background: var(--white);
}

.service .container {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;

}

.service__left {
    width: 47%;

    border-bottom: 1px solid var(--westchester-grey);
    border-top: 1px solid var(--westchester-grey);

    margin-right: 30px;
    padding-top: 24px;
    padding-bottom: 21px;

}

.service__left .card__text--lg {
    padding-bottom: 120px;
}

.service__right {
    width: 50%;
    height: 370px;

    background: url(../img/service__img.png);
    background-repeat: no-repeat;
}




/* product */
.product .container {
    margin-top: 120px;
}
.product__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product__content .card--img__body {
    width: 30%;
    margin-bottom: 120px;
}
.product__content .card__pic {
    height: 242px;
    margin-bottom: 16px;

}

.product__img1 {
    background: url(../img/product__item1.png);

}

.product__img2 {
    background: url(../img/product__item2.png);

}

.product__img3 {
    background: url(../img/product__item3.png);

}

.product__img4 {
    background: url(../img/product__item4.png);

}

.product__img5 {
    background: url(../img/product__item5.png);

}

.product__img6 {
    background: url(../img/product__item6.png);

}





/* prodcut */
.marketing__content {
    display: flex;
}

.marketing__left , .marketing__right {
    width: 50%;
}
.marketing__left .card--img__body{
    width: 100%;
}
.marketing__img {
    background: url(../img/marketing__img.png);
    height:370px;
    
}