/*------------------------------------*\
  #Blog
\*------------------------------------*/

.Blog {
    position: relative;
    width: 1440px;
    height: 4494px;
    background: #FFFFFF;
}

/*------------------------------------*\
  #Header
\*------------------------------------*/

.header {}

/* navbar */
.nav {}

.nav__logo {
    position: absolute;
    width: 106.29px;
    height: 22px;
    left: 149px;
    top: 28px;
}

.nav__menu {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
}

.nav__menu--item {}

.nav__button {
    
}