@import url('https://fonts.cdnfonts.com/css/satoshi');

:root {
    /* --------------font-------------------- */
    --font-family: 'Satoshi', sans-serif;

    /* -------------color-------------------- */
    --white: #ffffff;
    --black: #000000;
    --lighthouse: #f4f4f4;
    --gainsboro: #dcdcdc;
    --westchester-grey: #787878;
    --lucky-grey: #777777;
    --crab-nebula: #004050;
    --alienated: #00CC61;


    /* -------------font-weight-------------- */

    --font-weight-small: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* -------------font-size---------------- */
    --font-size-small: 14px;
    --font-size-medium: 18px;
    --font-size-large: 24px;
    --font-size-x-large: 32px;
    --font-size-xx-large: 64px;
    --font-size-datetime: 16px;

    /* -------------line-height-------------- */
    --line-height-small: 19px;
    --line-height-medium: 24px;
    --line-height-large: 34px;
    --line-height-x-large: 42px;
    --line-height-xx-large: 50px;
    --line-height-xxx-large: 74px;
}